

<head>

    <link href="https://fonts.googleapis.com/css?family=Alegreya+Sans|Fira+Sans" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="../stylesheets/mainpage.css">
    <title> MedRep </title>

</head>

<body style = "background-color : #101116">


    <div class="textMain container-fluid">
        <div class ="com">

        <div style="width: 100%; margin: 20% 0% 0% 8%">
            <img class ="logo img-responsive" src="../images/MedRep1.png" alt="Our Logo">
        </div>

        <div class="textLarge">
        <div class="text">

            <h1 class = "logoText">A unique Online Repository, for both Consumers and Laboratories, providing a Central Database for all your Medical Reports and Tests.</h1>
            <h1 class = "logoText" style="margin-top: 5%">A Cross-Platform tool to provide universal usability and extended adaptibility. </h1>

        </div>
       </div>
   </div>
    </div>

    <div class="login container-fluid">
        <div class="com1">
        <div style="margin-top: 35%"><h1 class="logoText" style="font-size: 2vw" align="center">Login and Signup</h1></div>

        <div align="center">
        <a href="/users/login">
        <button class="userButton btn btn-responsive">Personal</button>
        </a>
        <br>
        <a href="/labs/login">
        <button class="userButton btn btn-responsive">Commercial</button>
        </a>
        </div>
        </div>
    </div>

</body>
