<style>

    .headerClass {

        background-color: #192038;
        width: 100%;
    }

    .logo {

        width: 19%;
        height: auto;

        margin: 0% 0% 1% 3%;
        padding: 2% 0% 2% 0%;
    }

    .inputUser {

        width: 50%;
        height: 5%;

    }

    .buttonClass {

        font-size: 1.2vw !important;
        margin-right: 5%;
        width: 20%;
    }

</style>

<head>

    <title>Signup - User</title>
    <link href="https://fonts.googleapis.com/css?family=Alegreya+Sans|Fira+Sans" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>

<body style="margin: 0;padding: 0; background-image: url(../images/Sign_Up.jpg)">

    <header class="headerClass">

    <span>
    <a href="/">
    <img class="img-responsive logo" src="../images/MedRep1.png" alt="Our Logo">
    </a>
    </span>
    </header>

    <div style="width: 40%; height: auto; margin: 5% 0% 3% 32%; text-align: center">

        <h1 style="font-size: 2.5vx; font-family: 'Alegreya Sans',sans-serif; margin-bottom: 8%; color: whitesmoke">User SignUp</h1>

        <form method="post" action="/users/signup">

            <div class="input-group">
                <span class="input-group-addon inputUser" id="basic-addon1">Name</span>
                <input type="text" name="name" class="form-control" aria-label="Username" aria-describedby="basic-addon1" required>
            </div>
            <br>

            <div class="input-group">
                <span class="input-group-addon inputUser" id="basic-addon1">Email</span>
                <input type="email" name="email" class="form-control" aria-label="Username" aria-describedby="basic-addon1" required>
            </div>
            <br>

            <div class="input-group">
                <span class="input-group-addon inputUser" id="basic-addon1">Aadhaar Number</span>
                <input type="text" name="aadhaar" class="form-control" aria-label="Username" aria-describedby="basic-addon1" onkeypress="return event.charCode > 47 && event.charCode < 58;" pattern="[0-9]+" maxlength="12" minlength=12 required>
            </div>
            <br>

            <div class="input-group">
                <span class="input-group-addon inputUser" id="basic-addon1">Mobile Number</span>
                <input type="text" name="mobile" class="form-control" aria-label="Username" aria-describedby="basic-addon1" onkeypress="return event.charCode > 47 && event.charCode < 58;" pattern="[0-9]+" maxlength="10" minlength=10 required>
            </div>
            <br>
            <div class="input-group">
            <span class="input-group-addon inputUser" id="basic-addon1">Password</span>
            <input type="password" name="password" class="form-control" aria-label="Username" aria-describedby="basic-addon1" required>
            </div>
            <br>

            <div align="center">
            <button type="reset" class="btn btn-danger buttonClass">Reset</button>
            <button type="submit" class="btn btn-success buttonClass">Submit</button>
            </div>

        </form>

    </div>

</body>
