hr {
    
    width: 95%;
    height: 1%;
    background-color: whitesmoke;
}

.logo {
    
    width: 25%;
    height: auto;
    
    margin: 2% 2% 0.7% 2%;
}

.userLogo {
    
    width : 7%;
    height: auto; 
    float: right;
    
    margin-right: 2%;
    margin-top: 2%;
}

.logout {
    
    background: none;
    border: none;
    height: auto;
    width: auto;
    
    color: whitesmoke;
    font-family: 'Fira Sans', sans-serif; 
    font-size: 120%;
    
    padding: 0.8% 1.5%;
    border-radius: 8px !important;
    
    float: right;
    margin-right: 1%;
    margin-top:3.5%;
    
    cursor: pointer;

}

.logout:focus {
    
    outline: none !important;    
}

.logout:hover {
    
    background: white;
    color: purple;
}

.headerName {
    
    color: whitesmoke;
    font-family: 'Fira Sans', sans-serif; 
    font-size: 120%;
}

.userWelcome {
    
    color: whitesmoke;
    font-family: 'Alegreya Sans', sans-serif; 
    font-size: 200%;
    
}

/*-------------------------------------------------------------------*/

/* Popup container */
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

/* The actual popup (appears on top) */
.popup .popuptext {
    visibility: hidden;
    width: 340%;
    height: auto;
    background-color: #232c3a;
    color: #fff;
    text-align: center;
    border-radius: 10px;
    padding: 8px 0;
    position: absolute;
    line-height: 150%;
    z-index: 1;
    margin-left: -130%;
    margin-top: 10%;

}

/* Popup arrow */
.popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}

/* -------------------------------------------------------------------------------------------------- */

.reportName {
    
    color: whitesmoke;
    font-family: 'Fira Sans', sans-serif; 
    font-size: 1.5vw;
    
    text-align: center;
    margin-bottom: -1%;
}